body {
	margin: 0;
	padding: 0;
	background: url(../images/SunsetRun.JPG) no-repeat;
	background-color: #221C42;
}

h1 {
	text-align: center;
	font: 50px Verdana, sans-serif;
	color: #007CC2;
	margin: 0;
	padding: 0;
}

h2 {
	text-align: center;
	font: 35px Verdana, sans-serif;
	color: #fff;
	border-bottom: solid 1px #c0c0c0;
	margin: 0 0 5px;
}

p {
	font: 20px Verdana, sans-serif;
	color: #fff;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
	padding: 10px;
	/*border: solid 1px #dcdcdc;*/
}

header, footer {
	margin: 0 auto;
	padding: 5px 0 10px;
	background-color: #fff;
}

#logo {
	width: 116px;
	height: 147px;
	margin: 0 auto;
	padding: 0;
}

#about {
	margin: 5px auto;
	padding: 0;
	/*border: solid 1px #dcdcdc;*/
}

#img_gal {
	width: 100%;
	height: 500px;
	margin: 5px auto;
	padding: 0;
}

#video {
	width: 100%;
	margin: 5px auto;
	padding: 10px 0;
	background-color: rgba(255,255,255,.3);
	/*border: solid 1px #dcdcdc;*/
	/*float: right;*/
}

#video h2 {
	border-bottom: none;
}

#vidCont {
    width: 480px;
    height: 270px;
    margin: 10px auto;
    padding: 20px;
    border: solid 1px #dcdcdc;
    /*cursor: pointer;*/
    display: none;
}

#togBtn {
	width: 190px;
	margin: 10px auto 0;
	padding: 0;
}

#toggle {
    background: none;
    font: 18px Verdana, sans-serif;
    color: rgba(255,255,255,.3);
    border: 1px solid rgba(255,255,255,.3);
    outline: none;
    text-align: center;
    padding: .5em;
    margin: 0;
}

#toggle:hover {
    background-color: rgba(255,255,255,.1);
    color: #ffffff;
    border: 1px solid #fff;
    cursor: pointer;
}

#toggle:active {
    position: relative;
    top: 1px;
    color: rgba(255,255,255,.5);
}

#versus {
	margin: 5px auto;
	padding: 0;
	border: solid 1px #dcdcdc;
	clear: both;
}

#stats {
	margin: 5px auto;
	padding: 0;
	border: solid 1px #dcdcdc;
}

#route {
	margin: 5px auto;
	padding: 0;
	border: solid 1px #dcdcdc;
}

footer {
	width: 100%;
	position: fixed;
	bottom: 0;
}

footer p {
	text-align: center;
	font: 13px Verdana, sans-serif;
	color: #808080;
}